/* App specific styles */

.app-logo {width: 150px;}
.app-main {min-height: 600px;}
.app-tiles-flex {gap: 16px; flex-flow: row wrap; justify-content: center}
.app-tile {padding: 8px; width: 200px; height: 100px; cursor: pointer;}
